{% extends 'base.html' %} {%block content %}
<table class="table caption-top">
  <caption>
    My Contacts
  </caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><h2>MASHA</h2></th>
      <th scope="col">Lera Mama</th>
      <th scope="col">LorA THE DOG</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in Contax %}
    <tr>
      <th scope="row">{{contact.id}}</th>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email}}</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
